@import '../../variables';



.certificates-title {
	color: $text-color;
	margin-bottom: 1rem;
	@media screen and (max-width: 900px) {
		padding: 1rem;
	}
}
.certificate-container {
	img {
	height: 150px;
	cursor: pointer;
	}
	h3 {
		color: $inverse-theme;
		font-size: 1.0rem;
		margin-bottom: 0.5rem;
		text-align: center;
	}
	h4 {
		color: color-mix(in srgb, $text-color 90.5%, $theme);
		font-size: 0.9rem;
		margin-bottom: 0.3rem;
		text-align: center;
	}
	p {
		color: color-mix(in srgb, $text-color 90.5%, $theme);
		font-size: 0.9rem;
		text-align: center;
	}
}