@import '../variables';

.title {
    background: -webkit-linear-gradient(45deg, color-mix(in srgb, $background-color 20.5%, $secondary-color) , $tertiary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .description {
    color: $text-color;
    font-style: italic;
    font-size: 1rem;
  }
